body {
  margin: 0;
  font-family:'Arial Narrow', Arial, sans-serif;
  background-color: #ffffff;
}
  
#navbar {
  overflow: hidden;
  background-color: #1e1e1e;
  margin-bottom: 0px;
  scroll-padding: 50px 0 0 50px;
}
  
#logo{
  float: left;
  height: 70px;
  vertical-align: middle;
}

nav{
  padding: 0.5% 1% 0.5% 1% ;
  height: 70px;
  vertical-align: middle;
}

nav ul{
  margin-left: 10%;
  width: 30%;
}

nav ul li{
  display: inline;
  margin-right: 2%;
  font-size: 32px;
}

nav ul li a{ 
  color: whitesmoke;
  text-decoration: none;
}

nav ul li a:hover{
  color:lightgreen;
  text-decoration:none;
}

nav ul li a:active{
  color: green;
  text-decoration: none;
}

#content {
  padding: 16px;
}
  
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
.sticky + .content {
    padding-top: 60px;
}

#topsection{
    background: url('../img/headerimage.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 700px;
    margin-top:0px;
    padding-top:1%;
    width:100%;
}

#imageh1{
    padding-top: 15%;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    font-size: 48px;
}

#imageh2{
    color: #ffffff;
    text-align: center;
}

#quote{
    padding-top: 1%;
}

#quotetext{
    text-align: center;
    font-family:'Permanent Marker', cursive;
}

#authorname{
    text-align: center;
}